@font-face {
  font-family: "iconfont"; /* Project id 4052344 */
  src: url('iconfont.woff2?t=1683372978360') format('woff2'),
       url('iconfont.woff?t=1683372978360') format('woff'),
       url('iconfont.ttf?t=1683372978360') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-sousuo:before {
  content: "\e60b";
}

.icon-s-xiajiantou:before {
  content: "\e60f";
}

